/*Import styles*/
@import 'grid';
@font-face {
  font-family: 'Permanent Marker';
  src: local('Permanent Marker'), url(../assets/fonts/PermanentMarker-Regular.ttf) format('ttf');
}
html {
  font-family: 'Permanent Marker', cursive;
}
.center {
  position: relative;
  top: 50%;
  transform: translateX(50%);
}
.head {
  background: url('../assets/Background_Header.jpg') no-repeat;
  background-size: contain;
  height: 320px;
  width: 100%;
}
.foot {
  background: url('../assets/Background_Footer.jpg')no-repeat;
  background-size: contain;
  height: 140px;
  width: 100%;
}
.body {
  background: url('../assets/Background_Body.jpg');
  background-size: cover;
  width: 100%;
}
